* {
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
a{
    text-decoration: none;
    color:rgb(81, 42, 16);
}
a:hover{
    text-decoration: none;
    color:rgb(122, 49, 0);
}
.btn-outline-secondary:hover{
  background-color:#924d1e
}
.btn-primary{
  border-color: #512a10;
  background-color:#924d1e
}
.btn-primary:hover{
  border-color: #512a10;
  background-color:#924d1e
}
/* 导航模块 */
.bg-dark{
  background: #000!important;
}
.navbar-dark .navbar-toggler{
  border: none;
}
.navbar{
  padding: 1.5rem 0;
}
nav .navbar-toggler{
  color:#fff;
}
nav.active{
  background-color: #000;
  padding:0;
}
.bi-list{
  display: none;
}
.collapsed .bi-list{
  display: block;
}
.collapsed .bi-x{
  display: none;
}
nav i:hover{
  transform: rotateZ(360deg);
}

/* 焦点图模块 */
.home{
  background: url("../images/x6.jpg") top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.home .jumbotron{
  color:#fff;
  overflow: hidden;
  padding: 20rem 0;
  background-color: transparent;
}
.home .jumbotron h1{
  font-size: 4.8rem;
}
.home.jumbotron p{
  font-size: 2rem;
}
.home .jumbotron .btn{
  color: #fff;
  border-color: #fff;
}

/* 关于模块 */
.about .container{
  padding: 3rem 0;
}

.about .icons{
  background-color: #eee;
  padding:2.5rem 0 0.5rem;
}
.about .icons i{
  font-size: 3.2rem;

}

/* 菜单模块 */
.menu{
  background-color: #eee;
}
.menu .card{
  background-color: transparent;
  padding: 3rem 2rem;
  border: none;
}
.menu .card img{
  width: 15rem;
  margin: 0 auto;
  border-radius: 50%;
}
.menu .card:hover{
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1rem);
}

/* 相册模块 */
.gallery .card{
  position: relative;
  padding: 0;
  margin: 0 0 1.5rem 0;
  border: none;
  height: 25rem;
  overflow: hidden;
}
.gallery .card:hover img{
  transform: translateY(-100%);
}
.gallery .card .card-body{
  position: absolute;
  top: 0;
  left: 0;
  border: 0.1rem solid #512a10;
  text-align: center;
  line-height:2.8rem;
  padding: 3rem 2rem;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
}
.gallery .card:hover .card-body{
  transform: translateY(0);
}

.newsletter{
  background-image: url(../images/newsletter-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
  padding: 2rem 0 4rem 0;
}
.newsletter h3{
  font-size: 4rem;
  text-transform: uppercase;
}
.newsletter .input-group-btn{
  background-color: #fff;
}
.newsletter .form-control,.newsletter .btn{
  height: 4rem;
}
/* 1111 */
footer{
  padding: 2rem 0 4rem 0;
}
footer .icons i.fa{
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border: 0.1rem solid #512a10;
  /* font-size: 2rem; */
  color: #512a10;
}


@media (max-width: 991px) {
   
  }
  
@media (max-width: 768px) {
    .home .jumbotron{
      text-align: center;
    }
    .navbar{
      background-color: #000;
      padding:0;
    }

  }

@media (max-width: 450px) {
  .navbar{
    background-color: #000;
    padding:0;
  }
  }